footer {
    background-color: #876546;
    height: 160px;
    font-size: 16px;
    /* bottom: 0; */
    width: 100%;
}

.footer-text {
    text-shadow: 0px 1px 2px #EEC374;
}

.logo-sigayantara {
    margin-right: 20px;
    height: 60px;
}