.cagar-img {
	width: 100%;
	height: 500px;
}

.detail-content {
	margin-top: 90px;
}

.cat-img {
	position: relative;
}

.category-card {
	background-color: #eec374;
	border-radius: 0 0 10px 10px;
	width: 150px;
	height: 40px;
	position: absolute;
	right: 40px;
	margin-top: -18px;
}

.shadow-cat-card {
	border-radius: 0 0 10px 10px;
	border: 1px solid #876546;
	width: 150px;
	height: 30px;
	position: absolute;
	right: 30px;
}

.cagar-title > p {
	font-size: 20px;
}

.cagar-title > p:hover {
	color: #876546;
}

.author-icon {
	width: 34px;
	height: 34px;
	padding: 7px 6px;
	text-align: center;
}

.author {
	font-size: 14px;
}

.date {
	font-size: 12px;
}

.card-action ul li {
	list-style: none;
	margin-left: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.card-action ul li a {
	transition: 0.5s;
}

.edit-card,
.delete-card {
	width: 70px;
	height: 45px;
}

.edit-card:hover,
.delete-card:hover {
	background-color: #eec374;
	border-radius: 15px;
	transition: 0.5s;
}

.tabs {
	color: #876546 !important;
}

.tabs-active-tabs {
	background-color: #eec374 !important;
	color: #000000 !important;
	border: 1px solid #876546 !important;
	border-bottom: 0 !important;
	border-radius: 10px 10px 0 0;
	font-weight: 500;
}

.tab-content {
	padding: 0 10px 0 10px;
	border: 1px solid #876546 !important;
}

@media (min-width: 199px) and (max-width: 349px) {
	.cagar-img {
		height: 150px;
	}
}

@media (min-width: 350px) and (max-width: 399px) {
	.cagar-img {
		height: 200px;
	}
}

@media (min-width: 400px) and (max-width: 549px) {
	.cagar-img {
		height: 250px;
	}
}

@media (min-width: 550px) and (max-width: 767px) {
	.cagar-img {
		height: 300px;
	}
}

@media (min-width: 768px) and (max-width: 995px) {
	.cagar-img {
		height: 400px;
	}
}

@media (min-width: 199px) and (max-width: 575px) {
	.cat-img,
	.cagar-title,
	.upload-info,
	.action,
	.detail-info {
		margin-left: 15px;
		margin-right: 15px;
	}
}

@media screen and (max-width: 399px) {
    .cagar-title > p {
        font-size: 18px;
    }

	.category-card {
		font-size: 14px;
	}

	.category-card {
		width: 120px;
		height: 40px;
	}
	
	.shadow-cat-card {
		width: 120px;
		height: 30px;
	}
}