.register:hover {
    color: #876546;
}

.btn-submit:hover {
    background-color: #EEC374;
    color: #000000 !important;
}

@media screen and (max-width: 330px) {
    .register {
        font-size: 20px;
    }
}