
h2 {
    text-align: center;
    padding: 10px;
}

.form-group {
    padding: 7px;
}

.btn-submit {
    width: 25%;
    padding: 10px;
    font-size: 18px;
    background-color: #876546;
    color: #ffffff;
    box-sizing: border-box;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    border: none;
    cursor: pointer;
}