.card:hover {
    transform: translateY(5px);
}

.card-body {
    background-color: #EEC374;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.photo {
    height: 250px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.card-title:hover {
    color: #ffffff;
}

.card-title {
    font-weight: 500;
    color: #000000;
    text-shadow: 0px 2px 2px #876546;
}

.card-city{
    font-weight: 550;
    color: #000000;
}

.card-category {
    background-color:#EEC374;
    padding: 10px;
    color: #000000;
    top: 10px;
    right: 10px;
}

.card-category:hover {
    border: 1px solid #876546;
    background-color: #ffffff;
    color: #876546;
}

.city-map {
    width: 20px;
    height: 20px;
}

@media (max-width: 299px) {
    .photo {
        height: 170px;
    }
}

@media (min-width: 300px) and (max-width: 768px) {
	.photo {
        height: 200px;
    }
}

@media (min-width: 769px) and (max-width: 999px) {
	.photo {
        height: 230px;
    }
}