.card-action{
    align-items: right!important;
    justify-content: right!important;
    border-radius: 5px;
    position: relative;
    width: 100%;
}
    .card-action ul li{
        list-style: none;
        padding: 5px;
        margin-left: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .card-action ul li img{
        min-width: 44px;
        min-height: 44px;
        opacity: 0.5;
        transition: 0.5s;
    }
    .card-action ul li:hover img{
        opacity: 1;
    }
    .card-action ul li a{
        display: inline-block;
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        transition: 0.5s;
        text-align: left;
        padding-left: -10px;
    }
    .card-action ul li:hover a{
        color: #876546 !important;
    }
    
.action-menu{
    display: flex;
    flex-direction: row;
    justify-content: right;
    text-align: center;
    margin-top: -10px;
}
    .edit-card{
        width: 50px;
        cursor: pointer;
        text-align: center;
    }
    .edit{
        color: blue;
    }
    .delete-card{
        /* border: 1px solid #876546; */
        border-radius: 5px;
        height: 50px;
        cursor: pointer;
    }
    .delete{
        color: red;
    }
    .edit-card:hover{
        background-color: #EEC374;
        border-radius: 15px;
        transition: 0.5s;
    }
    .delete-card:hover{
        background-color: #EEC374;
        border-radius: 15px;
        transition: 0.5s;
    }

.icon-card{
    width: 20px;
    height: 20px;
    padding: 10px;
}