.card-text{
    font-size: 20px;
    text-align: center;
}
.menus{
    justify-content: center;
}
@media (min-width: 375px) { 
    .menus{
        height: auto;
        gap: 10px;
        justify-content: center;
    }

}
