.home-content{
    display: flex;
    flex-direction: column;
}
.home-title{
    text-align: center;
    color: #ffff;
    font-weight: 500;
    font-size: 52px;
    margin-top: 120px;
    text-shadow: 0px 5px 5px #876546;
}
.home-desc{
    text-align: center;
    color: #ffff;
    font-size: 20px;
    text-shadow: 0px 5px 5px #876546;
}
.scroll-down {
    height: 70px;
    width: 60px;
    border: 1px solid #fff;
    position: absolute;
    left: 50%;
    bottom: 50px;
    cursor: pointer;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .scroll-down::before,
  .scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 30px;
    width: 30px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid #fff;
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
  }
  .scroll-down::before {
    top: 35%;
    animation-delay: 0.3s;
  }
  
  @keyframes scroll-down {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      top: 90%;
      opacity: 0;
    }
  }


@media (min-width: 500px) and (max-width: 799px) {
    .home-content {
        margin: -15px 20px 0 30px;
        justify-content: center;
    }
    .home-title {
        font-size: 42px;
    }
    .home-desc{
        font-size: 18px !important;
    }
    .scroll-down{
        width: 40px;
        height: 35px;
        left: 50%;
        border: 1px solid #000;
        position: absolute;
    }
    .scroll-button{
        margin-top: 100px;
    }
    .scroll-down::before,
    .scroll-down::after {
        top: 10%;
        left: 50%;
        height: 10px;
        width: 10px;
        position: absolute;
        border: 1px solid #000;
        border-top: transparent;
        border-left: transparent;
        transform: translate(-50%, -100%) rotate(45deg);
    }

}

@media (min-width: 290px) and (max-width: 499px) {
    .home-content {
        margin: -15px 20px 0 30px;
        justify-content: center;

    }
    .home-title{
        font-size: 28px;
        margin-top: 15px !important;
    }
    .home-desc{
        font-size: 18px;
    }
    .scroll-down{
        width: 30px;
        height: 25px;
        left: 50%;
        border: 1px solid #000;
        position: absolute;
    }
    .scroll-button{
        margin-top: 100px;
    }
    .scroll-down::before,
    .scroll-down::after {
        top: 10%;
        left: 50%;
        height: 10px;
        width: 10px;
        position: absolute;
        border: 1px solid #000;
        border-top: transparent;
        border-left: transparent;
        transform: translate(-50%, -100%) rotate(45deg);
    }
}

@media (min-width: 199px) and (max-width: 289px) {
    .home-content {
        margin: -15px 20px 0 30px;
        justify-content: center;

    }
    .home-title{
        font-size: 20px;
        margin-top: 15px !important;
    }
    .home-desc{
        font-size: 12px;
    }
    .scroll-down{
        width: 20px;
        height: 25px;
        left: 50%;
        border: 1px solid #000;
        margin-top: -200px !important;
        position: absolute;
    }
    .scroll-button{
        margin-top: 100px;
    }
    .scroll-down::before,
    .scroll-down::after {
        top: 30%;
        left: 50%;
        height: 10px;
        width: 10px;
        border: 1px solid #000;
        border-top: transparent;
        border-left: transparent;
    }
}
@media (min-width: 800px) and (max-width: 899px){
    .home-content {
        margin: -15px 20px 0 30px;
        justify-content: center;
    }
    .home-title{
        font-size: 36px;
        margin-top: 15px !important;
    }
    .home-desc{
        font-size: 20px;
    }
    .scroll-down{
        width: 40px;
        height: 45px;
        left: 50%;
        border: 1px solid #000;
        margin-top: -200px !important;
        position: absolute;
    }
    .scroll-button{
        margin-top: 110px;
    }
    .scroll-down::before,
    .scroll-down::after {
        top: 30%;
        left: 50%;
        height: 20px;
        width: 20px;
        border: 1px solid #000;
        border-top: transparent;
        border-left: transparent;
    }
}
