.label {
    font-size: 18px;
}

.input {
    outline: none;
    width: 100%;
    padding: 9px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: 2px solid #000000;
}