.button {
    border: 1px solid #EEC374;
    background-color: transparent;
    color: #EEC374;
    border-radius: 30px;
    padding: 10px;
    font-size: 16px;
    text-decoration: none;
}

.button:hover {
    background-color: #EEC374;
    color: #000000;
    font-weight: 500;
}

@media (min-width: 290px) and (max-width: 499px) {
    .button {
        font-size: 14px;
        padding: 11px;
    }
}

@media (min-width: 199px) and (max-width: 289px) {
    .button {
        font-size: 12px;
        padding: 12px;
    }
}