.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 15rem);
    justify-content: center;
}

.teams-title:hover,
.teams-title:focus {
    color: #876546;
}

@media screen and (max-width: 289px) {
    .teams-title {
        font-size: 20px;
    }
}