.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    margin-bottom: 20px;
}

.nav-menus {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;
    margin: 10px 20px;
}

.nav-menus-mobile {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 10px 20px;
}

.nav-link {
    padding: 10px 20px !important;
    font-size: 18px;
    color: #000000 !important;
    text-decoration: none;
    cursor: pointer;
}

.nav-link:hover {
    color: #876546 !important;
    font-weight: 500;
}

.button-a {
    padding: 10px;
    font-size: 18px;
    min-width: 90px;
    min-height: 44px;
    background-color: transparent;
    border: 1.5px solid #000000;
    border-radius: 20px;
    color: #000000;
    text-decoration: none;
    text-align: center;
}

.button-a:hover {
    border: none;
    background-color: #EEC374;
    color: #876546;
    font-weight: 500;
}

.mobile-menu {
    background: none;
    border: none;
    display: none;
    top: 15px;
    right: 25px;
}

.mobile-menu > img {
    height: 35px;
    margin: 5px 0;
}

@media screen and (max-width: 720px) {
    .navbar {
        background: linear-gradient(#EEC374, #ffffff);
    }

    .nav-menus {
        display: none;
    }

    .nav-menus-mobile {
        position: absolute;
        display: block;
        top: 80px;
        padding: 0;
        width: 100%;
        list-style: none;
        background-color: #ffffff;
        transition: all 0.5s ease-out;
        margin: 0;
        z-index: 1;
    }
    
    .nav-link,
    .button-a {
        width: 100%;
        text-align: center;
        transition: all 0.5s ease;
    }

    .nav-link:hover,
    .button-a:hover {
        color: #876546;
    }

    .button-a {
        border: none;
    }

    .button-a:hover {
        background-color: #ffffff;
    }

    .mobile-menu {
        display: block;
        position: absolute;
        top: 15px;
        right: 25px;
    }
}

.action{
    position: relative;
    top: 5px;
    left: 2px;
}
.action .profile{
    position: relative;
    width: 60px;
    height: 60px;
    overflow: hidden;
    cursor: pointer;
}
.action .profile img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    width: 44px;
    height: 44px;
}
.action .profile-menu{
    position: absolute;
    top: 65px;
    right: 10px;
    padding: 10px 20px;
    background: #fff;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 20px;
    transition: 0.5s;
}
.action .profile-menu.active{
    visibility: visible;
    opacity: 1;
    top: 80px;
}
.action .profile-menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 18px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
}
.action .profile-menu ul li{
    list-style: none;
    padding: 5px 0;
    display: flex;
}
.action .profile-menu ul li:hover{
    opacity: 1;
}
.action .profile-menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-weight: 500; 
    transition: 0.5s;
}
.action .profile-menu ul li a:hover{
    color: #876546 !important; 

}
.nav-menu{
    cursor: pointer;
}